body {
  background-color: rgba(0, 155, 255, 0.5);
  transition: all 0.3s;
}

.a {
  text-align: center;
}

/* Keyframes for fade-out animation */
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Loading screen animation */
#loading-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  animation: fadeOut 1s forwards;
}

#main-tab, #prestige-tab {
  width: 75px;
  height: 35px;
  border-radius: 10px;
}

#main-tab {
  border-color: green;
  background-color: green;
}

#prestige-tab {
  border-color: blue;
  background-color: blue;
  display: none;
}

.tab-container {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.tab-button:hover,
.click-button:hover,
.prestige-button:hover {
  transition: transform 0.65s ease-out;
  transform: scale(1.15);
  cursor: pointer;
}

.click-button,
.prestige-button {
  width: 165px;
  height: 75px;
  border-radius: 20px;
}

.click-button {
  border-color: green;
  background-color: green;
}

.prestige-button {
  border-color: blue;
  background-color: blue;
}

.click-button:active,
.prestige-button:active {
  transform: scale(1.2);
}

.util-buttons {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  gap: 10px;
}

.util-button {
  padding: 8px 15px;
  font-size: 16px;
  font-weight: 600;
  font-family: inherit;
  border-radius: 6px;
}

/* Upgrade styles */
.upgrade {
  background-color: red;
  text-align: center;
  vertical-align: middle;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.upgrade:hover {
  transition: transform 0.5s ease-out;
  transform: scale(1.06);
  cursor: pointer;
}

.upgrade.requirements-met {
  background-color: yellow;
}

.upgrade.bought {
  background-color: green;
}

.upgrade-container {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.upgrade-tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
