body {
  background-color: rgba(160, 14, 20, 0.5);
  transition: all 0.3s;
}

.click-button {
  width: 100px;
  height: 50px;
  border-radius: 18px;
  border-color: cyan;
  background-color: cyan;
}

.click-button:hover {
  transition: transform 0.65s;
  transform: scale(1.15);
  transition-timing-function: ease-out;
  cursor: pointer;
}

.click-button:active {
  transform: scale(1.2);
}

.util-buttons {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  gap: 10px;
}

.util-button {
  padding: 8px 15px;
  font-size: 16px;
  font-weight: 600;
  font-family: inherit;
  border-radius: 6px;
}

#upgrade1:hover, #upgrade2:hover {
  transition: transform 0.5s;
  transform: scale(1.06);
  transition-timing-function: ease-out;
}

#upgrade1, #upgrade2 {
  background-color: red;
  text-align: center;
  vertical-align: middle;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  display: flex;
  flex-direction: row; /* Changed to row for horizontal alignment */
  justify-content: center; /* Center alignment */
  align-items: center; /* Center alignment */
  flex-wrap: wrap;
  }

#upgrade1.requirements-met, #upgrade2.requirements-met {
  background-color: yellow;
}

#upgrade1.bought, #upgrade2.bought {
  background-color: green;
}
