body{
  background-color: rgba(160,124,200,0.7);
    transition: all 0.3s;
}
.click-button{
  width: 100px;
  height: 50px;
  border-radius: 15px;
  border-color: red;
}

.click-button:hover{
  transition: transform 0.65s;
  transform: scale(1.15);
  transition-timing-function: ease-out;
  cursor: pointer;
}

.click-button:active{
  transform: scale(1.2)
}

.util-buttons{
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  gap: 10px;
}

.util-button{
  padding: 8px 15px;
  font-size: 16px;
  font-weight: 600;
  font-family: inherit;
  border-radius: 6px;
}

#upgrade1{
  background-color: red;
  text-align: center;
  vertical-align: middle;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#upgrade1:hover{
  transition: transform 0.5s;
  transform: scale(1.06);
  transition-timing-function: ease-out;
}

#upgrade2{
  background-color: red;
  text-align: center;
  vertical-align: middle;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#upgrade2:hover{
  transition: transform 0.5s;
  transform: scale(1.06);
  transition-timing-function: ease-out;
}

/* Upgrade 1 styles */
.up1.requirements-met {
  background-color: yellow;
}

.up1.bought {
  background-color: green;
}

/* Upgrade 2 styles */
.up2.requirements-met {
  background-color: yellow;
}

.up2.bought {
  background-color: green;
}
